@import "../component/card";

.cardLayout__wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    max-width: 90vw;
    margin: auto;
    margin-top: 2rem;
    
    .wrapper__cardList {
        // padding: 4rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
        grid-gap: 20px;

        @media (max-width: 600px) {
            width: fit-content;
            margin: auto;
        }
    }

    .filter_input{
        .select__range{
            display: flex;
            align-items: center;

            .range__checkbox{
                margin-right: 2rem;
                display: flex;
                align-items: baseline;

                label{
                    text-align: center;
                    font-size: 1.4rem;
                    margin-left: 1rem;
                    
                    span{
                        margin-top: -1rem;
                        font-size: 1rem;
                        color: #ffd102;
                    }
                }
            }
        }
    }
}
